{% extends 'base.html.twig' %}

{% block title %}Edit DisqueSsd
{% endblock %}

{% block body %}
	<div class="page ssd">
		<h1>Edit DisqueSsd</h1>

		{{ include('disque_ssd/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_disque_ssd_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('disque_ssd/_delete_form.html.twig') }}
	</div>

{% endblock %}
