</main>
<footer>
	<nav class="navbar navbar-dark bg-dark sticky-bottom bg-perso" id="nav-down">
		<div class="container-fluid">
			<span class="navbar-text">
				<div class="container">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</span>
		</div>
	</nav>
