{% extends 'base.html.twig' %}

{% block title %}Edit Socket
{% endblock %}

{% block body %}
	<div class="page socket">
		<h1>Edit Socket</h1>

		{{ include('socket/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_socket_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('socket/_delete_form.html.twig') }}
	</div>

{% endblock %}
