{% extends 'base.html.twig' %}

{% block title %}New Socket
{% endblock %}

{% block body %}
	<div class="page socket">
		<h1>Create new Socket</h1>

		{{ include('socket/_form.html.twig') }}

		<a href="{{ path('app_socket_index') }}" class="btn btn-secondary">retour à la liste</a>

	</div>

{% endblock %}
