{% extends 'base.html.twig' %}

{% block title %}Editer un disque dur
{% endblock %}

{% block body %}
	<div class="page hdd">
		<h1>Editer un disque dur</h1>

		{{ include('disque_dur/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_disque_dur_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('disque_dur/_delete_form.html.twig') }}
	</div>

{% endblock %}
