{% extends 'base.html.twig' %}

{% block title %}New DisqueDur
{% endblock %}

{% block body %}
	<div class="page hdd">
		<h1>Create new DisqueDur</h1>

		{{ include('disque_dur/_form.html.twig') }}

		<a href="{{ path('app_disque_dur_index') }}" class="btn btn-secondary">retour à la liste</a>

	</div>

{% endblock %}
