{% extends 'base.html.twig' %}

{% block title %}Editer une configuration
{% endblock %}

{% block body %}
	<div class="page alimentation">
		<h1>Editer une configuration</h1>

		{{ include('configurateur/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_configurateur_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('configurateur/_delete_form.html.twig') }}
	</div>

{% endblock %}
