{% extends 'base.html.twig' %}

{% block title %}Edit Processeur
{% endblock %}

{% block body %}
	<div class="page processeur">
		<h1>Edit Processeur</h1>

		{{ include('processeur/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_processeur_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('processeur/_delete_form.html.twig') }}
	</div>

{% endblock %}
