{% extends 'base.html.twig' %}

{% block title %}Edit FormatDisque
{% endblock %}

{% block body %}
	<div class="page formatdisque">
		<h1>Edit FormatDisque</h1>

		{{ include('format_disque/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_format_disque_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('format_disque/_delete_form.html.twig') }}
	</div>

{% endblock %}
