{% extends 'base.html.twig' %}

{% block title %}New FormatDisque
{% endblock %}

{% block body %}
	<div class="page formatdisque">
		<h1>Create new FormatDisque</h1>

		{{ include('format_disque/_form.html.twig') }}

		<a href="{{ path('app_format_disque_index') }}" class="btn btn-secondary">retour à la liste</a>

	</div>

{% endblock %}
