<form method="post" action="{{ path('app_format_carte_mere_delete', {'id': format_carte_mere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ format_carte_mere.id) }}">
	<button class="btn btn-danger">supprimer</button>
</form>
