{% extends 'base.html.twig' %}

{% block title %}Edit FormatCarteMere
{% endblock %}

{% block body %}
	<div class="page formatboitier">
		<h1>Edit FormatCarteMere</h1>

		{{ include('format_carte_mere/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_format_carte_mere_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('format_carte_mere/_delete_form.html.twig') }}
	</div>

{% endblock %}
