{% extends 'base.html.twig' %}

{% block title %}New FormatCarteMere
{% endblock %}

{% block body %}
	<div class="page formatcartemere">
		<h1>Create new FormatCarteMere</h1>

		{{ include('format_carte_mere/_form.html.twig') }}

		<a href="{{ path('app_format_carte_mere_index') }}" class="btn btn-secondary">retour à la liste</a>

	</div>

{% endblock %}
