{% extends 'base.html.twig' %}

{% block title %}Edit DisqueM2
{% endblock %}

{% block body %}
	<div class="page m2">
		<h1>Edit DisqueM2</h1>

		{{ include('disque_m2/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_disque_m2_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('disque_m2/_delete_form.html.twig') }}
	</div>

{% endblock %}
