{% extends 'base.html.twig' %}

{% block title %}Edit FormatBoitier
{% endblock %}

{% block body %}
	<div class="page formatboitier">
		<h1>Edit FormatBoitier</h1>

		{{ include('format_boitier/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_format_boitier_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('format_boitier/_delete_form.html.twig') }}
	</div>

{% endblock %}
