{% extends 'base.html.twig' %}

{% block title %}Edit TypeMemoire
{% endblock %}

{% block body %}
	<div class="page typememoire">
		<h1>Edit TypeMemoire</h1>

		{{ include('type_memoire/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_type_memoire_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('type_memoire/_delete_form.html.twig') }}
	</div>

{% endblock %}
