{% extends 'base.html.twig' %}

{% block title %}Editer une carte mère
{% endblock %}

{% block body %}
	<div class="page cartemere">
		<h1>Editer une carte mère</h1>

		{{ include('carte_mere/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_carte_mere_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('carte_mere/_delete_form.html.twig') }}
	</div>

{% endblock %}
