{% extends 'base.html.twig' %}

{% block title %}Edit Pcie
{% endblock %}

{% block body %}
	<div class="page pcie">
		<h1>Edit Pcie</h1>

		{{ include('pcie/_form.html.twig', {'button_label': 'mettre à jour'}) }}


		<a href="{{ path('app_pcie_index') }}" class="btn btn-primary">retour à la liste</a>


		{{ include('pcie/_delete_form.html.twig') }}
	</div>

{% endblock %}
